-r requirements_nl.txt
-r requirements_for_test_common.in

flaky
moto
pytest-httpserver
trustme
squawk-cli
mypy
types-cachetools
types-python-dateutil
types-pycurl
types-requests

# NL supports for github actions
pytest-cov
pytest-dotenv
pytest-md
pytest-emoji
python-dotenv

faker
